<% if @vehicle.fastag.present? %>
<p>
  <strong>Account Number:</strong>
  <%= fastag.accountnumber %>
</p>

<p>
  <strong>Vehicle Number:</strong>
  <%= fastag.vehiclenumber %>
</p>
<ul style="list-style: none;">
<li><%= link_to 'Add Transactions' , new_vehicle_fastag_transaction_path(vehicle_id: @vehicle.id, fastag_id: @vehicle.fastag.id) ,class:"btn btn-primary"%></li>
<br>
<li><%= link_to 'Show Transactions' , vehicle_fastag_transaction_path(vehicle_id: @vehicle.id, fastag_id: @vehicle.fastag.id) ,class:"btn btn-primary"%></li>
<br></ul>

<%else%>  
  <h2>Add a Fastag:</h2>  

  <%= render 'fastags/form' %>
<% end %>



