<h1><%= @vehicle.vehicle_model %></h1>
<p><%= @vehicle.vehicle_number %></p>

<%= link_to "Edit", edit_vehicle_path(@vehicle) ,class:"btn btn-info" %>
<%= link_to "Destroy", vehicle_path(@vehicle), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } ,class:"btn btn-danger"%>
<%if @vehicle.fastag%>
<%= render @vehicle.fastag %>
<%else%>
<%=link_to 'Add Fastag' , new_vehicle_fastag_path(@vehicle) %>
<%end%>

