

<div class="modal-dialog modal-dialog-centered" >
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="dateModalLabel">Filter by Date Range</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= form_tag(filter_by_date_range_vehicle_fastag_transactions_path, method: :get, remote: true) do %>
        <%= hidden_field_tag :fastag_id, @fastag.id %>
        <div class="mb-3">
          <%= label_tag 'start_datetime', 'Start Date and Time:' %>
          <%= datetime_field_tag 'start_datetime', nil, class: 'form-control', id: 'start-datetime' %>
        </div>
        <div class="mb-3">
          <%= label_tag 'end_datetime', 'End Date and Time:' %>
          <%= datetime_field_tag 'end_datetime', nil, class: 'form-control', id: 'end-datetime' %>
        </div>
        <%= submit_tag 'Generate Report', class: 'btn btn-primary', id: 'generate-report-btn' %>
      <% end %>
    </div>
  </div>
</div>
